root = true

[*]
charset = utf-8

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none